body {
  margin: 0;
  padding: 0;
  background: white url('images/background.jpg') no-repeat center top fixed;
  background-size: cover;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.topMenu {
  width: 100%;
  position: fixed;
  z-index: 25;
  border-radius: 5px;
  background-color: #333;
  border-color: #080808;
  height: 40px;
}

.topMenu ul {
  padding: 0;
  margin: 0;
  height: 30px;
}

.topMenu li {
  list-style-type: none;
  display: inline-block;
  float: left;
}

.topMenu li a {
  text-align: center;
  display: block;
  text-decoration: none;
  color: #9d9d9d;
  height: 30px;
  padding: 10px 10px 0 10px;
}

.topMenu li a:hover {
  color: #fff;
}

.topMenu li .active {
  background-color: #222;
  color: #fff;
}

.right {
  position: fixed;
  width: 75px;
  height: 100%;
  right: 0;
  background-color: rgb(226, 226, 226);
  z-index: 20;
}

#content_articles, #content_db, #content_video, #content_gallery {
  display: none;
}

.tab-content {
  z-index: 1;
  margin-right: 75px;
  min-height: 100%;
}

.center {
  width: 70%;
  margin: auto;
  padding: 20px;
  background-color: rgba(255,255,255,0.6);
  color: #000;

  margin-bottom: 200px;
}

.well {
    background-color: rgba(240, 240, 240, 0.5)!important;
}
.centerTop {
  width: 70%;
  height: 200px;
  margin: auto;
  padding: 40px 20px 20px 20px;
}

.news {
    border: 1px solid #000;
    padding: 10px;
    margin: 10px 0;
}


.date {
    float: right;      padding: 0;      margin: 0;
}

.newsInfo img {
    width: 166px;    float: left;    margin-right: 10px;
}

.news h2 {
    margin: 0 0 10px 0;
}

/* Кнопка ВВЕРХ*/
#back-top {position: fixed; bottom: 10px; right: 0; cursor: pointer;z-index: 1000;margin-right: 11px;}
#back-top img {width:50px;height:50px;opacity: 0.4;border-radius: 25px;}
#back-top img:hover{opacity: 1;}
/* END Кнопка ВВЕРХ*/